/**SF Pro Display**/
@font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/SFPRODISPLAYREGULAR.OTF") format("OTF");
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/SFPRODISPLAYBOLD.OTF") format("OTF");
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    font-style: italic;
    font-weight: 400;
    src: url("fonts/SFPRODISPLAYLIGHTITALIC.OTF") format("OTF");
}

/**Nunito**/
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 800;
    src: url("fonts/Nunito-Bold.ttf") format("ttf");
    font-display: swap;
}

/**General Settings**/
html {
    width: 100%;
}

body {
    font-family: "SF Pro Display", sans-serif;
    font-size: 32px;
    line-height: 38px;
    color: #EEF1F8;
    background: #101932;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;

}



h2 {
    text-align: center;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
}

/**Header**/
.upper-header {
    color: #FFFFFF;
    font-size: 17px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.navigation-item {
    margin-left: 12px;
    padding: 0;
    display: inline;
    white-space: nowrap;

}

.nav__link {
    font-family: "SF Pro Display", sans-serif;
    line-height: 20px;
    font-weight: 600;
    font-size: 17px;
    color: #FFFFFF;
    text-decoration: none;
    display: inline;
    white-space: nowrap;
}

/* SpiderShiba Inu logo header */
.link-logo {
    width: 253px;
    display: flex;
    margin: 15px 92px;
    padding: 0;
    height: 68px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.mini-logo-header {
    flex: 0 0 auto;
    border-radius: 5%;
    overflow: hidden;
}


.mini-logo-title_one {
    display: inline-flexbox;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 34px;
    color: #FFFFFF;
    padding: 0;
    margin-left: 15px;
}

.color-title {
    color: #E11D2E;
}

.navigation-mini-logo {
    margin: 0;
    padding: 0;
}

/**Header btn right**/
.navigation_btn {
    width: 170px;
    height: 40px;
    background-color: #AC1216;
    border-radius: 10px;
    display: block;
    text-align: center;
    margin-right: 92px;
    margin-left: 70px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
}




/**background header + the-main-attractive**/
.the-first-section-wraper {
    background-image: url("../img/bg.png");
    background-color: #5A4039;
    background-size: 100% auto;
    background-repeat: no-repeat;
}


/**Main flex**/
.main-body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.the-main-attractive {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/**Text title**/
.main-title {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 90px;
    text-align: left;
    margin-bottom: 0;
    color: #FFFFFF;
}

.title-text-upper-header {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #AEB6DA;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 0;
}

.desc {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 0;
    color: #E8E8EA;

}

.row-with-buttons-link {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    width: 295px;
    height: 80px;
    background-color: #AC1216;
    border-radius: 10px;
    display: block;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.row-with-buttons-link-2 {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.9;
    width: 379px;
    height: 80px;
    background-color: #1C2646;
    border-radius: 10px;
    display: block;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.row-with-data {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.2);
}

/**section one**/
.the-main-attractive {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    margin-left: 92px;
    margin-right: 188px;
    width: 848px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.row-with-buttons {
    width: 699px;
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.row-with-buttons-link {
    text-decoration: none;
}

.data-numbers {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.4);
}

.row-with-data {
    width: 674px;
    height: 75px;
    border: 1px solid rgba(255, 255, 255, 0.09);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 14px;
    padding-left: 25px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 140px;
}

.logotip {
    left: 58.75%;
    right: 10.42%;
    top: 7.26%;
    bottom: 87.35%;
    margin-right: 200px;
}

/**warning**/

.stripe {
    width: min 120%;
    margin: 0 auto;
    display: inline;
    white-space: nowrap;
    height: 38px;
    background-color: #5A4039;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    overflow: hidden;
    color: rgba(255, 245, 0, 0.6);
}

/**Second section background**/
.the-second-section-is-the-wrapper {
    background: #101932;
    background-size:  100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.menu-advantagers-text {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    position: relative;
    top: 360px ;
}

.menu-advantagers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-link-1{
    position: relative;
    top: -670px ;
    left: -300px;
}


.icon-link-2{
    position: relative;
    top: -370px ;
    right: -290px;
}


.icon-link-3{
    position: relative;
    top: -960px ;
    right: -240px;
}
.decorative-element {
    margin-top: 65px;
    width: 979.5px;
    height: 50px;
}
.decorative-element-link{
    margin-top: 80px;
}
.menu-advantagers-btn {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
    padding: 10px 45px 15px;
    gap: 15px;
    width: 215px;
    height: 77px;
    background: #E11D2E;
    position: relative;
    top: -360px ;
   
}

.menu-advantagers-description-item {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}

.advantagers-description-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
    justify-content: space-between;

}

.menu-advantagers-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 160px;
    position: relative;
    top: -120px auto;
}

.advantagers-list-description-item {
    width: 496px;
    background: #384D70;
    border-radius: 20px;
    margin-left: 12px;
    padding: 0;
    display: inline;

}

.icon_img {
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.advantager_column_title {
    text-align: left;
    font-family: 'SF Pro Display';
    margin-left: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    margin-top: 0;
    margin-bottom: 0;
}


.advantager_column_subtitle {
    text-align: left;
    font-family: 'SF Pro Display';
    margin-left: 40px;
    font-style: normal;
    opacity: 0.3;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 10px;
    opacity: 0.5;
}

.advantager_column_text {
    text-align: left;
    font-family: 'SF Pro Display';
    margin-left: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}

.central_column {
    margin-left: 68px;
    margin-right: 68px;
}

/** Play to earn**/
.informational-articles {
    background-color: #101932;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informational-articles-title {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
}

.informational-articles-text {
    
    font-weight: 400;
    font-size: 25px;
    line-height: 42px;
    margin-top: 10px;
    opacity: 0.5;
    margin-bottom:50px;
}

.informational-articles-wrapper {
    width: 1736px;
    background: #071022;
    border-radius: 30px;
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
}

.just_a_picture {
    margin-top: 36px;
    margin-left: 50px;
}

.informational-articles-main-title {
    margin-top: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 10px;
}

.informational-articles-main {
    height: 384px;
}

.informational-articles-main-text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    margin-top:0;
    padding-top: 0;
}

.informational-articles-main {
    padding: 36px 50px 36px 60px;
}

.informational-articles-other-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 1736px;
    margin-bottom: 175px;

}
.informational-articles-bonuses-icon, .informational-articlesiventss-icon{
 margin: 32px;
 padding: 0;
 margin-right: 0px;
}
.informational-articles-bonuses {
    width: 848px;
    height: 270px;
    background: #FF9429;
    border-radius: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.informational-articles-ivents {
    width: 848px;
    height: 270px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #067CCB;
    border-radius: 30px;
}

.informational-articles-ivents-wrapper,
.informational-articles-bonuses-wrapper {
    margin: 38px;
    padding: 0;
}

.informational-articles-bonuses-wrapper {
    margin-left: 40px;
}

.informational-articles-bonuses-title,
.informational-articles-ivents-title {
    margin-top: 0;
    padding-top: 0;
    text-align: left;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;

}

.informational-articles-ivents-text,
.informational-articles-bonuses-text {
    margin-top: 20px;
    padding-top: 0;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    text-align: left;
    color: #FFFFFF;
    opacity: 0.8;

}

/** The fourth block 
Why invest in SpiderShiba Inu?**/
.brief-summary {
    margin: 0 auto;
    width: 1920px;
    height: 662px;
    background: #30298C;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    
}

.brief-summary-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 92px 177px;
   
}

.brief-summary-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    text-align: left;
}

.brief-summary-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
}
.brief-summary-wrapper-inner-1-text, .brief-summary-wrapper-inner-2-text{
    font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;
margin-left: 20px;
color: #FFFFFF;
margin-top: 10px;
opacity: 0.8;
}
.brief-summary-wrapper-inner-2-title, .brief-summary-wrapper-inner-1-title{
    margin-left: 20px;
    margin-bottom: 0px;
    padding: 0;
}
.brief-summary-btn {
    width: 404px;
    height: 80px;
    border-radius: 10px;
    background-color: #AC1216;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    text-align: center;
    opacity: 0.8;
    text-decoration: none;
}

.brief-summary-wrapper-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 92px;
    margin-left: 92px;
    padding: 0px;
   

}

.brief-summary-wrapper-inner-1,
.brief-summary-wrapper-inner-2 {
    display: flex;
    flex-direction: row;
justify-content: space-between;
align-items: flex-start;
}
.brief-summary-wrapper-inner-1-icon, .brief-summary-wrapper-inner-2-icon{
    padding-top: 30px;
}
/**the fifth block
Roadmap**/
.roadmap {
    margin: 0 auto;
    width: 1920px;
    height: 1985px;
    background: url("../img/Frame 36.png"), #101932;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roadmap-title,
h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
}

.roadmap-list {
    counter-reset: myCounter;

}

.roadmap-item {
    list-style: none;
}

.implementation-of-the-plan-list {
    list-style: disc;
}

.roadmap-item:before {
    counter-increment: myCounter;
    content: counter(myCounter);
    color: white;
    display: flex;
    background: #384D70;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px;
    line-height: 78px;
    width: 138px;
    height: 146px;
    text-align: center;



    color: #FFFFFF;

    opacity: 0.5;
    background: #384D70;
    opacity: 0.2;
    border-radius: 30px;
    font-weight: 700;
    font-size: 65px;
    flex-direction: row;



}

.roadmap-item {
    width: 792px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
   
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    background: rgba(56, 77, 112, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    margin-top: 60px;

}

.implementation-of-the-plan-list {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;


    color: #FFFFFF;
}

.hlp {
    margin-top: 30px;
    padding-bottom: 30px;
}

.implementation-of-the-plan-list {
    margin-top: 20px;
}
.roadmap-item-1{
    position: relative;
    left:-430px;
    top:-80px; 
}
.roadmap-item-2{
    position: relative;
    left:395px;
    top:-80px;
}
.roadmap-item-3{
    position: relative;
    left:-430px;
    top:-80px;
}
.roadmap-item-4{
    position: relative;
    left:395px;
    top:-70px;
    background-color: #4f6487;
}
.roadmap-item-5{
    position: relative;
    left:-430px;
    top:-70px;
    background-color: #4f6487;
    
   
}
/**-the sixth block
            Team**/
.development_and_sponsors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uk-grid-uk-slideset-team-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.team-item,
.partners-gallery-item {
    padding: 0;
    display: inline;
    white-space: nowrap;

}

.partners-gallery-link {
    text-decoration: none;
}
.mainSlider{
    display: flex;
}